### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
#dependencies
import pandas as pd
import numpy as np
#load csv file
purchase_data = "Resources/purchase_data.csv"

#read file and store in df
purchase_data = pd.read_csv(purchase_data)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53%
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56%
2,2,Ithergue48,24,Male,92,Final Critic,4.88%
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27%
4,4,Iskosia90,23,Male,131,Fury,1.44%

## Player Count

* Display the total number of players

In [2]:
#calculate player count 
index = purchase_data_df.index
Total_Players = len(index)
Total_Players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#calculate number of unique items in df
item_name = len(purchase_data_df["Item Name"].unique())
purchase_data_df["Total Revenue"] = purchase_data_df.iloc[:, 7:].sum(axis=1)
total_revenue = purchase_data_df["Price"].sum()
price = purchase_data_df["Price"].mean()

total_summary_df = pd.DataFrame({"Number of Unique Items": [item_name],"Average Price": price,
"Number of Purchases": (Total_Players), "Total Revenue": total_revenue})

pd.options.display.float_format = '${:,.2f}'.format
total_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#create variables
gender_totals = purchase_data_df["Gender"].value_counts()
player_count = len(index)
gender_percentage = gender_totals / player_count * 100
gender_breakdown = pd.DataFrame({"Total Count": gender_totals, 
                                 "Percentage of Players": gender_percentage})
#format
pd.options.display.float_format = '{:,.2f}%'.format
gender_breakdown

                       Total Count  Percentage of Players
Male                           652                 83.59%
Female                         113                 14.49%
Other / Non-Disclosed           15                  1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#GroupBy will separate the data according to "Gender" values
gender_groupby_purchased_data_df = purchase_data_df.groupby(["Gender"])
gender_groupby_purchased_data_df["Purchase ID"].count().head()

#total purchase value by gender
total_value = gender_groupby_purchased_data_df["Price"].sum()
total_value.head()
new_total_value = total_value.map("${:,.2f}".format)
new_total_value.head()

#Average purchase price by gender
avg_purchase_price = gender_groupby_purchased_data_df["Price"].mean()
avg_purchase_price.head()
new_avg_purchase_price = avg_purchase_price.map("${:,.2f}".format)
new_avg_purchase_price.head()

#total purchase value divided by purchase count by gender and organize summary gender data
norm_totals = total_value/gender_groupby_purchased_data_df["Purchase ID"].count()
new_totals = norm_totals.map("${:,.2f}".format)
new_totals.head


gender_purchase_df = pd.DataFrame(gender_groupby_purchased_data_df["Purchase ID"].count())
gender_purchase_df["Average Purchase Price"] = new_avg_purchase_price  
gender_purchase_df["Total Purchase Value"] = new_total_value 
gender_purchase_df["Avg Total Purchase per Person"] = new_totals 
gender_purchase_df

#summary analysis of purchasing DF grouped by gender, rename "Purchase ID" column, using .rename(columns={})
summary_gender_purchase_df = gender_purchase_df.rename(columns={"Purchase ID":"Sale Count"})
summary_gender_purchase_df

,Sale Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99]

#create names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

grp_by_age_purchase_data_df = purchase_data_df
grp_by_age_purchase_data_df["Age Group"] = pd.cut(grp_by_age_purchase_data_df["Age"], age_bins, labels=group_names)

#creating a group based the bins
grp_by_age_purchase_data_df = grp_by_age_purchase_data_df.groupby("Age Group")
grp_by_age_purchase_data_df.count()

#create new dataframe
summary_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df.count())

#"purchase Id" column calculations and format percentages
summary_by_age_df["Purchase ID"] = (summary_by_age_df["Purchase ID"]/Total_Players)*100
summary_by_age_df["Purchase ID"] = summary_by_age_df["Purchase ID"].map("{:,.2f}%".format)

#reduce number of columns to "Age Summary", "Purcahe ID", format percentages and write into org Data Frame
org_summary_by_age_df = summary_by_age_df[["Purchase ID","SN"]]

#Rename columns
age_group_summary_df = org_summary_by_age_df.rename(columns={"SN":"Total Count", "Purchase ID":"Percentage of Players"})
pd.options.display.float_format = '{:,.2f}%'.format
age_group_summary_df

          Percentage of Players  Total Count
Age Group
<10                       2.95%           23
10-14                     3.59%           28
15-19                    17.44%          136
20-24                    46.79%          365
25-29                    12.95%          101
30-34                     9.36%           73
35-39                     5.26%           41
40+                       1.67%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#sort by age df
analysis_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df["Purchase ID"].count())

#get Total purchase value by age
total_purchase_value_age = grp_by_age_purchase_data_df["Price"].sum()
dlr_total_purchase_value_age = total_purchase_value_age.map("${:,.2f}".format)

#get Average purchase price by age
avg_purchase_price_age = grp_by_age_purchase_data_df["Price"].mean()
dlr_avg_purchase_price_age = avg_purchase_price_age.map("${:,.2f}".format)

#get Normalized totals by age
normalized_totals_age = total_purchase_value_age/grp_by_age_purchase_data_df["Purchase ID"].count()
dlr_normalized_totals_age = normalized_totals_age.map("${:,.2f}".format)

#organize summary gender data
analysis_by_age_df["Average Purchase Price"] = dlr_avg_purchase_price_age  
analysis_by_age_df["Total Purchase Value"] = dlr_total_purchase_value_age 
analysis_by_age_df["Avg Total Purchase per Person"] = dlr_normalized_totals_age 

#summary purchasing analysis df grouped by age, rename columns
summary_age_purchased_data_df = analysis_by_age_df.rename(columns={"Purchase ID":"Purchase Count"})
pd.options.display.float_format = '{:,.2f}%'.format
summary_age_purchased_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#original purchase data
orig_purchase_data_df = pd.DataFrame(purchase_data_df)

#group by Spendors ( "SN" )
grp_SN_top_cust_df = orig_purchase_data_df.groupby("SN")

#sort data by SN new dataframe and get Total purchase value
analysis_by_cust_df = pd.DataFrame(grp_SN_top_cust_df["Purchase ID"].count())
total_purchase_value_SN = grp_SN_top_cust_df["Price"].sum()

#get Average purchase price by SN and Reset summary Top Spender data
avg_purchase_price_SN = grp_SN_top_cust_df["Price"].mean()
avg_purchase_price_SN
dlr_avg_purchase_price_SN = avg_purchase_price_SN.map("${:,.2f}".format)
analysis_by_cust_df["Average Purchase Price"] = dlr_avg_purchase_price_SN
analysis_by_cust_df["Total Purchase Value"] = total_purchase_value_SN 

#summary Top Spendor analysis grouped by SN and rename "Purchase ID"
SUM_SN_purchased_data_df = analysis_by_cust_df.rename(columns={"Purchase ID":"Purchase Count"})
top_cust_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)

#format Total Purchase Price
dlr_total_purchase_value_SN = total_purchase_value_SN.map("${:,.2f}".format)
top_cust_df["Total Purchase Value"] = dlr_total_purchase_value_SN
pd.options.display.float_format = '{:,.2f}%'.format
top_cust_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#group by item id and name
grp_top_item_df = orig_purchase_data_df.groupby(["Item ID", "Item Name"])
grp_top_item_df.count()

#data sorted by Item df
analysis_by_item_df = pd.DataFrame(grp_top_item_df["Purchase ID"].count())

#total purchase value by Item
total_purchase_value_ITEM = grp_top_item_df["Price"].sum()
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)

#get purchase price by Item
purchase_price_ITEM = grp_top_item_df["Price"].mean()
purchase_price_item = purchase_price_ITEM.map("${:,.2f}".format)

#organize summary Item data, condense columns to a df
analysis_by_item_df["Item Price"] = purchase_price_item
analysis_by_item_df["Total Purchase Value"] = total_purchase_value_ITEM

#summary Most Popular Item analysis grouped by Item and rename
purchased_data_df = analysis_by_item_df.rename(columns={"Purchase ID":"Purchase Count"})
popular_items_df=purchased_data_df.sort_values("Purchase Count", ascending=False)
pd.options.display.float_format = '{:,.2f}%'.format
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99%
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76%
145,Fiery Glass Crusader,9,$4.58,41.22%
132,Persuasion,9,$3.22,28.99%
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77%
82,Nirvana,9,$4.90,44.10%
75,Brutality Ivory Warmace,8,$2.42,19.36%
103,Singed Scalpel,8,$4.35,34.80%
34,Retribution Axe,8,$2.22,17.76%
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,25.28%
19,"Pursuit, Cudgel of Necromancy",8,$1.02,8.16%
60,Wolf,8,$3.54,28.32%
72,Winter's Bite,8,$3.77,30.16%
59,"Lightning, Etcher of the King",8,$4.23,33.84%
78,"Glimmer, Ender of the Moon",7,$4.40,30.80%
117,"Heartstriker, Legacy of the Light",7,$1.79,12.53%
85,Malificent Bag,7,$1.75,12.25%
110,Suspension,7,$1.44,10.08%
71,Demise,7,$1.61,11.27%
53,Vengeance Cleaver,7,$2.05,14.35%

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#alter analysis by Item_df to be able to sort it numerically
purchased_data_df["Total Purchase Value"] = grp_top_item_df["Price"].sum()

#summary Most Popular Item analysis grouped by Item, rename "Purchase ID" column
top_items_df=purchased_data_df.sort_values("Total Purchase Value", ascending=False)

#change format of "Total Purchase Price" into dollars
dlr_total_purchase_value_ITEM = total_purchase_value_ITEM.map("${:,.2f}".format)
top_items_df["Total Purchase Value"] = dlr_total_purchase_value_ITEM
pd.options.display.float_format = '{:,.2f}%'.format
top_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99
60,Wolf,8,$3.54,$28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
139,"Mercy, Katana of Dismay",5,$4.94,$24.70
128,"Blazeguard, Reach of Eternity",5,$4.91,$24.55
138,"Peacekeeper, Wit of Dark Magic",5,$4.74,$23.70
87,"Deluge, Edge of the West",5,$4.43,$22.15
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56

Analysis

Data was collected on a limited number of players.

The number of male players outnumbered the number 
of female players by almost a 6 to 1 margin. 

This ratio was also reflected in the total purchase value spent by each  
gender.

The 20 to 24-year-old age group represented almost 50% of the players.

The other 50% was broken up amongst the other seven age groups. 

This ratio was also represented in the total purchase value amongst age groups.